<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>lab05_jsp</display-name>
  <servlet>
    <description></description>
    <display-name>DataSourceUtil</display-name>
    <servlet-name>DataSourceUtil</servlet-name>
    <servlet-class>com.itwill.lab05.datasource.DataSourceUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSourceUtil</servlet-name>
    <url-pattern>/DataSourceUtil</url-pattern>
  </servlet-mapping>
</web-app>