/나초 페르난데스.png
/다니 세바요스.png
/다니 카르바할.png
/데이비드 알라바.png
/루카 모드리치.png
/루카스 바스케스.png
/브라힘 디아스.png
/비니시우스 주니오르.png
/아르다 귈레르.png
/안드리 루닌.png
/안토니오 뤼디거.png
/에데르 밀리탕.png
/에두아르도 카마빙가.png
/오렐리엥 추아메니.png
/주드 벨링엄.png
/케파 아리사발라가.png
/토니 크로스.png
/티보 쿠르투아.png
/페데리코 발베르데.png
/페를랑 멘디.png
/프란 가르시아.png
/호드리구.png
/호셀루.png
