<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.spring02.repository.CommentDao">

    <!-- 포스트에 작성된 댓글 -->
    <select id="selectByPostId" resultType="Comment">
        select * from comments
        where post_id = #{postId} order by id desc
    </select>

    <!-- 댓글 작성 -->
    <insert id="insert">
        insert into comments (post_id, username, ctext)
        values (#{postId}, #{userName}, #{cText})
    </insert>

    <!-- 댓글 수정 -->
    <update id="update">
        update comments
        set ctext = #{cText}, modifiedTime = systimestamp
        where id = #{id}
    </update>
    
    <!-- 댓글 삭제 -->
    <delete id="deleteById">
        delete from comments where id = #{id}
    </delete>
    
    <!-- 모든 댓글 삭제? -->
    <delete id="deleteByPostId">
        delete from comments where post_id = #{postId}
    </delete>
    
    <!-- 댓글 갯수 -->
    <select id="selectCommentCount" resultType="integer">
        select count(*)
        from comments where post_id = #{postId}
    </select>
    
    <!-- 댓글 내용? -->
    <select id="selectById" resultType="Comment">
        select * from comments
        where id = #{id}
    </select>

</mapper>